:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 112.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0e161d;
}
.main {
  background-color: #f6f8f9;
}
.gallery {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__info--main,
.card__caption--title {
  font-family: "Roboto Condensed", sans-serif;
  color: #040407;
}
.header__nav-bar {
  background-color: hsla(213, 33%, 5%, 0.88);
  padding: 0.65rem 2rem;
  color: #f6f8f9;
  z-index: 1;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1;
}
.header {
  position: relative;
  width: 100%;
  background: #c2dce2 url(images/background_530.jpg) center center / cover
    no-repeat;
  z-index: 0;
}
.header__info {
  padding: 3rem 2rem;
  text-align: center;
  text-shadow: 0 0 40px #8ba9b3;
}
.header__info--main {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.header__info--tagline {
  font-size: 1.25rem;
}
.logo__text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.header__button {
  position: relative;
  top: 2rem;
  color: #040407;
  font-size: 3rem;
  text-align: center;
  outline: none;
  -webkit-transition: -webkit-transform 0.125s ease-in;
  transition: -webkit-transform 0.125s ease-in;
  transition: transform 0.125s ease-in;
  transition: transform 0.125s ease-in, -webkit-transform 0.125s ease-in;
}
.header__button:focus::before,
.header__button:hover::before {
  color: #31556a;
  -webkit-transform: translateY(0.05em);
  transform: translateY(0.05em);
}
.cards {
  list-style-type: none;
}
.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px hsla(199, 27%, 44%, 0.4);
  box-shadow: 0 4px 8px hsla(199, 27%, 44%, 0.4);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.card + .card {
  margin-top: 1.5rem;
}
.card {
  position: relative;
}
.card,
.card__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card:hover {
  -webkit-box-shadow: 0 8px 16px hsla(199, 27%, 44%, 0.4);
  box-shadow: 0 8px 16px hsla(199, 27%, 44%, 0.4);
}
.card:focus-within {
  -webkit-box-shadow: 0 8px 16px hsla(199, 27%, 44%, 0.4);
  box-shadow: 0 8px 16px hsla(199, 27%, 44%, 0.4);
}
.card:active {
  -webkit-box-shadow: 0 4px 8px hsla(199, 27%, 44%, 0.4);
  box-shadow: 0 4px 8px hsla(199, 27%, 44%, 0.4);
}
.card__image-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.card__image {
  width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.card:focus-within .card__image,
.card:hover .card__image {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.card:focus-within .link--caption,
.card:hover .link--caption,
.card:active .link--caption {
  color: #31556a;
}
.card__caption {
  width: 100%;
  max-width: 60ch;
  padding: 1rem 1rem 1.5rem 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.card__caption > * + * {
  margin-top: 0.75rem;
}
.card__caption > *:last-child {
  margin-top: auto;
  padding-top: 0.75rem;
}
.card__caption > *:nth-last-child(2) {
  margin-bottom: 0.75rem;
}
footer {
  width: 100%;
  padding: 2rem 0;
  background-color: #090d12;
  text-align: center;
  color: #c2dce2;
}
/* Links */
.link {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.link--caption {
  color: #040407;
}
.link--caption::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.link--footer {
  color: #c2dce2;
}
.link--footer:focus,
.link--footer:hover,
.link--footer:active {
  border-bottom: 3px solid #c2dce2;
}
/* Icons */
.logo__icon {
  margin-right: 0.25em;
  font-size: 2rem;
}
.icon::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.icon--regular::before {
  font-weight: 400;
}
.icon--geometric::before {
  content: "\f247";
}
.icon--solid::before {
  font-weight: 900;
}
.icon--arrow::before {
  content: "\f358";
}

/* Media Queries */
@media (max-width: 880px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 530px) {
  .logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 436px) {
  .header__info {
    font-size: 80%;
  }
  .header__info--main {
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  .card__caption {
    text-align: center;
    padding: 1rem 1rem 1.5rem 1rem;
  }
}
@media (max-width: 374px) {
  .header__info {
    font-size: 70%;
  }
}
@media (max-width: 320px) {
  .gallery {
    padding: 1rem;
  }
}
@media (min-width: 531px) {
  .header {
    background: #c2dce2 url(images/background_880.jpg) center center / cover
      no-repeat;
  }
}
@media (min-width: 881px) {
  .header {
    background: #c2dce2 url(images/background_1280.jpg) center center / cover
      no-repeat;
  }
  .header__nav-bar {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .header__info {
    padding: 8rem 4rem;
  }
  .gallery {
    padding: 2rem 4rem;
  }
}
@media (min-width: 1280px) {
  .logo,
  .header__info,
  .gallery {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
  }
  .header {
    background: #c2dce2 url(images/background.jpg) center center / cover
      no-repeat;
  }
}

@supports (display: grid) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .card + .card {
    margin-top: 0;
  }
  @media (min-width: 681px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1186px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
